@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");
#map {
  height: 71dvh;
  width: 100%;
  position: absolute;
  bottom: 0;
  z-index: 1;
}
@media only screen and (max-width: 900px) {
  #map {
    height: 68dvh;
  }
}
@media only screen and (max-width: 450px) {
  #map {
    height: 60dvh;
  }
}
@media only screen and (max-height: 775px) {
  #map .leaflet-map-pane {
    top: 83px;
  }
}
@media only screen and (max-width: 900px) {
  #map .leaflet-top.leaflet-left {
    display: none;
  }
}

body {
  margin: unset;
  font-family: "Rubik", sans-serif;
}

h1 {
  margin-top: unset;
}

.upper-wrapper {
  background-image: url(images/pattern-bg-desktop.png);
  height: 29dvh;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
@media only screen and (max-width: 900px) {
  .upper-wrapper {
    height: 32dvh;
  }
}
@media only screen and (max-width: 450px) {
  .upper-wrapper {
    height: 40dvh;
  }
}
@media only screen and (max-width: 600px) {
  .upper-wrapper {
    background-image: url(images/pattern-bg-mobile.png);
  }
}

.visual-content {
  width: 77dvw;
  margin: auto;
  position: relative;
  top: 2.5dvh;
  z-index: 2;
}
@media only screen and (max-width: 450px) {
  .visual-content {
    width: 87dvw;
  }
}
.visual-content h1 {
  margin: auto;
  width: 275px;
  color: white;
  font-weight: 500;
}
@media only screen and (max-width: 450px) {
  .visual-content h1 {
    width: 205px;
    font-size: 24px;
  }
}
.visual-content .submit-form {
  margin: auto;
  width: 39dvw;
  margin-top: 25px;
}
@media only screen and (max-width: 900px) {
  .visual-content .submit-form {
    width: unset;
    margin-top: 30px;
  }
}
.visual-content .info-fields {
  display: flex;
  justify-content: space-between;
  background-color: white;
  border-radius: 15px;
  margin-top: 5.5dvh;
}
@media only screen and (max-width: 900px) {
  .visual-content .info-fields {
    flex-direction: column;
    margin-top: 3.5dvh;
  }
}
.visual-content .info-fields div:nth-of-type(2) p {
  width: 175px;
}
@media only screen and (max-width: 900px) {
  .visual-content .info-fields div:nth-of-type(2) p {
    width: unset;
  }
}
.visual-content .info-fields div:nth-of-type(4) p {
  width: 145px;
}
@media only screen and (max-width: 900px) {
  .visual-content .info-fields div:nth-of-type(4) p {
    width: unset;
    margin-bottom: 20px;
  }
}
@media only screen and (max-width: 900px) {
  .visual-content .info-fields div:nth-of-type(1) span {
    padding-top: 0px;
    margin-top: 20px;
  }
}
.visual-content .info-fields span {
  font-size: 9px;
  font-weight: bold;
  color: hsl(0, 0%, 59%);
  letter-spacing: 2px;
}
.visual-content .info-fields p {
  font-size: 20px;
}
@media only screen and (max-width: 450px) {
  .visual-content .info-fields p {
    font-size: 18px;
  }
}
.visual-content .info-fields div {
  flex: 1;
}
@media only screen and (max-width: 900px) {
  .visual-content .info-fields div {
    text-align: center;
  }
}
.visual-content .info-fields div p {
  margin-top: 10px;
  padding: 0px 0px 15px 20px;
  font-weight: 700;
}
@media only screen and (max-width: 900px) {
  .visual-content .info-fields div p {
    padding: unset;
    margin-bottom: 10px;
    margin-top: 5px;
  }
}
.visual-content .info-fields div span {
  padding: 23px 0 0 20px;
  display: inline-block;
}
@media only screen and (max-width: 900px) {
  .visual-content .info-fields div span {
    padding: 12px 0 0 0;
  }
}

#InField {
  width: 34dvw;
  padding: 14.5px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  border: none;
  font-size: 18px;
}
@media only screen and (max-width: 900px) {
  #InField {
    width: calc(100% - 75px);
    font-size: 16px;
    padding: 16px;
  }
}
#InField:hover {
  cursor: pointer;
}
#InField:focus {
  outline: none;
  cursor: unset;
}
#InField::-moz-placeholder {
  color: hsl(0, 0%, 59%);
}
#InField::placeholder {
  color: hsl(0, 0%, 59%);
}

#submitField {
  width: 50px;
  background-color: black;
  border: none;
  padding: 17.4px;
  position: absolute;
  color: white;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  margin-left: -4px;
}
#submitField:hover {
  cursor: pointer;
}

.info-fields > div:nth-child(n+2)::before {
  height: 60px;
  border-left: 1px solid hsla(0, 0%, 59%, 0.5);
  content: "";
  position: absolute;
  margin-top: 22px;
}
@media only screen and (max-width: 900px) {
  .info-fields > div:nth-child(n+2)::before {
    height: 0;
  }
}/*# sourceMappingURL=style.css.map */